* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e099c5;
}
.login-container {
    background: #05caf2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(229, 10, 10, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 30px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0ac3f7;
    border-radius: 5px;
}
.login-container button {
    width: 50%;
    padding: 10px;
    background: #ff00bb;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background: #0056b3;
}